<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Recipe - Recipe Network</title>
  </head>
  <body>
    <% if (!userSession) { %>
    <script>
      alert("Please log in first.");
      window.location.href = "/login";
    </script>
    <% } else { %>
    <script src="./js/deleteRecipe.js"></script>
    <% } %>
  </body>
</html>
