<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/login.css" />
    <title>Login - Recipe Network</title>
  </head>
  <body>
    <% if (userSession) {%>
    <script>
      alert("You are already logged in.");
      window.location.href = "/";
    </script>
    <% } else { %>
    <div class="container">
      <div class="login-form">
        <h2>Login</h2>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" placeholder="Enter your email" />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            id="password"
            placeholder="Enter your password"
          />
        </div>
        <button onclick="loginUser()">Login</button>
      </div>
    </div>

    <div class="additional-links">
      <p>Don't have an account? <a href="/signup">Sign Up</a></p>
      <p>Homepage <a href="/">Recipe Network</a></p>
    </div>

    <script src="./js/login.js"></script>

    <% } %>
  </body>
</html>
